@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f7f6f9;
  font-family: Inter, sans-serif;
}

.custom-scrollbar {
  overflow: auto; /* Ensure both scrollbars can appear */
  white-space: nowrap; /* Prevent content from wrapping, forcing horizontal scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;  /* Vertical scrollbar width */
  height: 12px; /* Horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; /* Track background color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #882efd; /* Purple color for the scrollbar thumb */
  border-radius: 20px; /* Rounded corners */
  border: 3px solid #fff; /* Padding around the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7b1fa2; /* Darker purple on hover */
}



.custom-shadow{
  box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08) !important;
}

/* Example: Adjust these selectors according to the actual DOM structure */
.rdtd-select-rect {
  background-color: #d1d1d1 !important; /* Default gray background */
  border-radius: 4px !important;
  border-color: #d1d1d1 !important;
  outline: none !important; /* Remove the outer ring */
}

.rdtd-select-rect:checked {
  background-color: #882EFD !important; /* Purple background when selected */
  border-color: #882EFD !important;
}


content {
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #882efd;
}

.content h2:nth-child(2) {
	color: #882efd;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
