@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f7f6f9;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #882efd; /* Purple color */
  border-radius: 20px;
  border: 3px solid #fff;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7b1fa2; /* Darker purple on hover */
}


.custom-shadow{
  box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08) !important;
}

/* Example: Adjust these selectors according to the actual DOM structure */
.rdtd-select-rect {
  background-color: #d1d1d1 !important; /* Default gray background */
  border-radius: 4px !important;
  border-color: #d1d1d1 !important;
  outline: none !important; /* Remove the outer ring */
}

.rdtd-select-rect:checked {
  background-color: #882EFD !important; /* Purple background when selected */
  border-color: #882EFD !important;
}


